name: Publish
on:
  push:
    branches:
      - release

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          registry-url: 'https://registry.npmjs.org'
      - run: yarn install --immutable
      - run: yarn build
      - run: |
          echo npmAuthToken: "\${NPM_TOKEN}" >> ./.yarnrc.yml
      - name: publish
        run: yarn npm publish --tolerate-republish --access public
        env:
            NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - run: |
          git checkout ./.yarnrc.yml
